@model IEnumerable<HR.DataModel.Entities.Department>

@{
    ViewBag.Title = "Department List";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("New Department", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
        </td>
        <td>
            <a href="@Url.Action("Delete", new { id=item.Id })">
                <img src="~/Content/Images/trashcan.png" alt="delete" />
            </a>

        </td>
    </tr>
}

</table>
